{% extends 'index.html' %}
{% load static %}
{% block content %}

<section>
    <form method ='POST' action="">
        {% csrf_token %}
            <div>
                <input type="text" name="username" />
                <label>Username</label>
            </div>
            <div>
                <input type="text" name="password" />
                <label>Password</label>
            </div>
            <div>
                <input type="submit" value="LOGIN">
            </div>
            <p>Don't have an account? <a href="{% url 'register' %}"><u>Register Here</u></a></p>
    </form>
</section>


{% endblock %}